<div class="line">
  <div class="spec {{node.type}}">
    {{partial (concat "template-nodes/node-" node.type)}}
  </div>

  {{#if node.compact}}
    <div class="compact">compact</div>
  {{/if}}

  {{#if node.keep}}
    <div class="keep">keep</div>
  {{/if}}
</div>

{{#if node.children}}
  <div class="children">
    {{#each node.children as |child|}}
      {{template-node node=child}}
    {{/each}}
  </div>
{{/if}}
