{{#if model.form.contact}}
  <span class="contact-description">If you have any questions, please contact <a href="mailto:{{model.form.contact.email}}">{{model.form.contact.name}}</a>.</span>
{{else}}
  <span>If you have any questions, please <a href="http://blogs.lib.unc.edu/cdr/index.php/contact-us/">contact us</a>.</span>
{{/if}}
