<div id="notice">
  <h2>Onyen Sign-in Required</h2>

  <p>You must sign in with your Onyen to deposit using this form.</p>
  
  <p>If you have any questions, please contact <a href="mailto:{{model.form.contact.email}}">{{model.form.contact.name}}</a>.</p>

  <p class="button"><a href="/Shibboleth.sso/Login?target={{url}}">Sign in With Your Onyen</a></p>
</div>
