<div id="notice">
  <h2>Onyen Sign-in Required</h2>

  <p>You must sign in with your Onyen to deposit using this form.</p>
  
  {{partial "deposit/contact"}}

  <p class="button"><a href="/Shibboleth.sso/Login?target={{url}}">Sign in With Your Onyen</a></p>
</div>
