<div id="notice">
  {{#if model.result.success}}
    <h2>Deposit Successful</h2>

    <p>Your deposit was successful and is being processed. In the next hour, you should receive a deposit receipt email confirming your submission.</p>
  {{else}}
    <h2>Deposit Failed</h2>
    
    <p>There was an error submitting your deposit.</p>
  {{/if}}
  
  <p>If you have any questions, please contact <a href="mailto:{{model.form.contact.email}}">{{model.form.contact.name}}</a>.</p>

  <p class="button"><a href="/Shibboleth.sso/Logout?return=https%3a%2f%2fcdr.lib.unc.edu%2f">Sign Out</a></p>
</div>
