<div id="notice">
  {{#if model.result.success}}
    <h2>Deposit Successful</h2>

    <p>Your deposit was successful and is being processed. In the next hour, you should receive a deposit receipt email confirming your submission.</p>
  {{else}}
    <h2>Deposit Failed</h2>
    
    <p>There was an error submitting your deposit.</p>
  {{/if}}

  {{partial "deposit/contact"}}

  {{#if model.result.addAnother}}
    <p>Add another {{model.result.addAnotherText}} in the current <a href="{{model.result.path}}">collection</a></p>
  {{/if}}

  {{#unless model.result.admin}}
    <p class="button"><a href="/Shibboleth.sso/Logout?return=https%3a%2f%2fcdr.lib.unc.edu%2f">Sign Out</a></p>
  {{/unless}}
</div>
