{
  "terms": [
    { "code": "eng", "name": "English" },
    { "code": "fre", "name": "French" },
    { "code": "ger", "name": "German" },
    { "code": "san", "name": "Sanskrit" },
    { "code": "urd", "name": "Urdu" }
  ],
  "valueKey": "code",
  "labelKey": "name"
}
