<label for={{object-guid entry}}>{{entry.block.label}}</label>

{{input value=entry.value type="email" placeholder=entry.block.placeholder id=(object-guid entry)}}

{{entry-error-messages entry=entry}}