<h2>{{entry.block.name}}</h2>

<label>
  {{input type="checkbox" checked=entry.value}}
  {{sanitize-html entry.block.prompt}}
</label>

<ul class="errors">
  {{#if entry.invalid}}
    <li>You must agree to the {{entry.block.name}}.</li>
  {{/if}}
</ul>
