<html>
<head>
  <title>A submission was received from the form "{{form.title}}".</title>
</head>
<body>
  
  <img style="float: right;" alt="UNC Libraries logo" src="https://cdr.lib.unc.edu/static/images/email_logo.png"/>
  <h3>Carolina Digital Repository</h3>
  
  <p>A submission was received from the form "{{form.title}}".</p>
  
  {{> items-list-html items=items}}
  
  <p>Please do not reply to this message.</p>
  
</body>
</html>
