<html>
<head>
  <title>Your submission was received by the Carolina Digital Repository.</title>
</head>
<body>
  
  <img style="float: right;" alt="UNC Libraries logo" src="https://cdr.lib.unc.edu/static/images/email_logo.png"/>
  <h3>Carolina Digital Repository</h3>
  
  <p>Your submission was received by the Carolina Digital Repository.</p>
  
  {{> items-list-html items=items}}
  
  <p>Please do not reply to this message. If you have any questions or concerns about your submission, please contact {{form.contact.name}} at <a href="mailto:{{form.contact.email}}">{{form.contact.email}}</a>.</p>
  
  <p>Thank you for contributing to the <a href="{{siteUrl}}">Carolina Digital Repository</a>, a service of the <a href="http://library.unc.edu/">University of North Carolina at Chapel Hill Libraries</a>.</p>
  
</body>
</html>
