<div class="darkest fluid-cap-container {{isAdminForm 'in-admin-iframe' ''}}" id="header">

    <ul id="topbar">
		<li class="topbar-menu-option" id="login"><a href="/Shibboleth.sso/Logout?return=https%3a%2f%2fcdr.lib.unc.edu%2f" class="login" id="login">Log out</a></li>
		<li class="topbar-menu-option">
		<a href="http://blogs.lib.unc.edu/cdr/index.php/contact-us/">Contact</a></li>
		<li class="topbar-menu-option">
			<a href="http://blogs.lib.unc.edu/cdr/">About</a>
		</li>
<!--		<li id="username_wrap">Welcome, hlwang</li>-->
		</ul>

  <div class="darkest fluid-cap-highlight">
    <div class="fluid-cap-contents">
      <div class="fluid-cap-right-wrap darkest">
        <div class="fluid-cap-left-wrap darkest">
          <div class="twocol fluid-cap-left">
            <div class="contentarea">
              <h1 id="cdr-logo"><a href="/" id="titlelink"><span class="white-title">CAROLINA</span> <span class="blue-title">DIGITAL</span> <span class="white-title">REPOSITORY</span></a></h1>
<!--              <a href="/" id="titlelink"><img src="assets/images/carolinadigitalrepository.png"></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="body">
{{outlet}}
</div>

<div id="footer" class="darkest fluid-cap-container {{isAdminForm 'in-admin-iframe' ''}}">
  <div class="dark fluid-cap-highlight">
    <div class="fluid-cap-contents">
      <div class="fluid-cap-right-wrap darkest">
        <div class="fluid-cap-left-wrap dark">

          <div class="threecol fluid-cap-left">
            <div class="contentarea">
              <p>
                <a href="/">Home</a>&nbsp;|&nbsp;
                <a href="/collections">Browse Collections</a>&nbsp;|&nbsp;
                <a href="/external?page=about.about">About</a>&nbsp;|&nbsp;
                <a href="/external?page=contact&amp;refer=https%3a%2f%2fcdr.lib.unc.edu%2f">Contact Us</a>&nbsp;|&nbsp;
                <a href="http://library.unc.edu">Library Home</a>&nbsp;|&nbsp;
                <a href="http://library.unc.edu/privacy-policy/">Privacy Policy</a>
              </p>
            </div>
            </div>

            <div class="fourcol fluid-cap-right">
            <div class="contentarea"><p class="left"><a href="http://www.unc.edu">UNC Home </a></p><a href="http://www.unc.edu"><img src="assets/images/uncwell.png" id="footer_uncwell"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
