HOST=127.0.0.1
PORT=3000
FORMS_DIRECTORY=absolute/path/to/forms
UPLOADS_DIRECTORY=absolute/path/to/uploads
VOCABULARIES_DIRECTORY=absolute/path/to/vocabularies
DEPOSIT_BASE_URL=https://localhost:8443/services/sword/collection/
DEPOSIT_USERNAME=depositforms
DEPOSIT_PASSWORD=depositforms
