data/uploads
data/forms/*.json
data/vocabularies/*.json
data/input/*.json

# npm binaries
node_modules/.bin

# npm devDependencies
node_modules/istanbul
node_modules/jscs
node_modules/jshint
node_modules/mocha
node_modules/nodemon
node_modules/xmldom
node_modules/xpath
node_modules/nock
node_modules/node-mocks-http
node_modules/smtp-server
