@import 'cdr.css';

/* basic styles */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


/* page */

.ember-application > .ember-view {
  min-height: 100%;
  position: relative;
}

#header {
  height: 95px;
  float: none;
}

#body {
  padding-bottom: 57px;
  width: 960px;
  margin: 0 auto;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 57px;
  width: 100%;
}

#body h1 {
  margin: 32px 0 24px 0;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Avenir Next", helvetica, sans-serif;
}


/* notice */

#notice {
  background: #eee;
  text-align: center;
  padding: 24px 16px 32px 16px;
  max-width: 700px;
  margin: 24px auto 32px auto;
}

#notice h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 12px;
  font-family: "Avenir Next", helvetica, sans-serif;
}

#notice p {
  margin: 12px;
}

#notice p.button {
  margin-top: 32px;
}

#notice p.button a {
  background: #1D759F;
  color: #fff;
  border: none;
  border-radius: 28px;
  padding: 11px 20px;
  white-space: nowrap;
  text-decoration: none;
}

#notice p.button a:hover {
  background: #0c3f60;
}


/* debug */

#debug {
  position: fixed;
  top: 0;
  right: 0;
  background: yellow;
  padding: 8px;
  z-index: 1;
}

#debug button {
  font-size: 14px;
}


/* form */

#form {
  width: 700px;
  margin: 24px auto 32px auto;
  padding: 0;
}

.submit {
  text-align: center;
}

.required-example {
  font-weight: bold;
  color: red;
}


/* description */

#form p {
  margin: 16px 0;
}


/* buttons */

#form button {
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #eee;
  background: linear-gradient(#fff, #eee);
  font-size: 16px;
  padding: 6px 12px;
  cursor: default;
  white-space: nowrap;
}

#form button:active {
  background: #eee;
}

#form button:disabled {
  border-color: #ccc;
  background: #eee;
  color: #bbb;
}


/* choose file "button" */

.choose-file-wrapper {
  position: relative;
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #eee;
  background: linear-gradient(#fff, #eee);
  font-size: 16px;
  padding: 6px 12px;
  cursor: default;
  white-space: nowrap;
}

.choose-file-wrapper:active {
  background: #eee;
}

.choose-file-wrapper input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
}


/* blocks */

#form > .block:first-of-type {
  margin-top: 32px;
}

.block {
  margin: 36px 0;
}

.block .errors {
  display: none;
  list-style: none;
  padding: 0;
  margin: 8px 0;
  color: #c00;
}

#form.invalid .block .errors {
  display: inherit;
}


/* blocks */

.block.text label,
.block.date label,
.block.select label,
.block.email label,
.block.file label,
.block.checkboxes h2,
.block.radio h2,
.block.agreement h2 {
  display: block;
  margin: 8px 0;
  font-size: 18px;
  font-weight: bold;
}

.section .block.text label,
.section .block.date label,
.section .block.select label,
.section .block.file label,
.section .block.email label,
.section .block.checkboxes h2,
.section .block.radio h2,
.section .block.agreement h2 {
  margin: 8px 0;
  font-size: 14px;
  color: #666;
}

.block.text.required label:after,
.block.date.required label:after,
.block.select.required label:after,
.block.file.required label:after,
.block.email.required label:after,
.block.checkboxes.required h2:after,
.block.radio.required h2:after,
.block.agreement.required h2:after {
  color: red;
  content: " *";
}


/* text blocks */

.block.text input,
.block.email input {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  padding: 4px;
  width: 100%;
  border: 1px solid #ccc;
}

#form.invalid .block.text.invalid > input,
#form.invalid .block.email.invalid > input {
  border: 1px solid #c00;
}

.block.text textarea {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  padding: 4px;
  width: 100%;
  height: 96px;
  border: 1px solid #ccc;
}

#form.invalid .block.text.invalid > textarea {
  border: 1px solid #c00;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* checkboxes, radio, agreement blocks */

.block.radio label,
.block.checkboxes label,
.block.agreement label {
    display: block;
    padding-left: 20px;
    margin: 4px 0;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.block.radio label input,
.block.checkboxes label input,
.block.agreement label input {
  position: absolute;
  margin-left: -20px;
  font-size: 16px;
  line-height: 16px;
}

.block.radio input[type='radio'] {
  margin-top: 2px;
}

.block.checkboxes input[type='checkbox'],
.block.agreement input[type='checkbox'] {
  margin-top: 3px;
}


/* date blocks */

.block.date input {
  display: block;
  margin: 8px 0;
  font-size: 16px;
  padding: 4px;
  width: 150px;
  border: 1px solid #ccc;
}

#form.invalid .block.date.invalid > input {
  border: 1px solid #c00;
}


/* select blocks */

.block.select select {
  max-width: 100%;
}


/* section blocks */

.section h2 {
  font-size: 18px;
  margin: 16px 0;
}


/* blocks inside section blocks */

.section .block {
  margin: 24px 0;
}


/* repeating section blocks */

.section.repeat .item {
  position: relative;
  margin: 24px 0;
  border-top: 1px solid #ddd;
}

.section.repeat .item:first-of-type {
  margin-top: 18px;
}

.section.repeat .block {
  width: 500px;
}

.section.repeat .block:first-of-type {
  margin-top: 18px;
}

.section.repeat .add {
  margin-top: 18px;
  border-top: 1px solid #ddd;
}

.section.repeat .add button {
  margin: 24px 0;
  margin-bottom: 0;
  font-size: 16px;
  padding: 8px 16px;
}

.section.repeat .remove button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 6px 12px;
  margin: 24px 0;
}


/* file blocks */

.block.file.multiple label {
  margin-bottom: 9px;
}

.block.file.multiple .upload,
.block.file.multiple .new-upload {
  margin: -1px 0 0 0;
}

.block.file .upload,
.block.file .new-upload {
  position: relative;
  margin: 8px 0;
  border: 1px solid #ccc;
  display: flex;
  padding: 4px;
  
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

#form.invalid .block.file.invalid .upload,
#form.invalid .block.file.invalid .new-upload {
  border: 1px solid #c00;
}

.block.file .upload .progress-bar {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  transition: width 200ms;
}

.block.file .upload .description {
  flex: 1 1 auto;
  margin: 4px;
}

.block.file .upload .description .main {
  line-height: 16px;
}

.block.file .upload .description .detail {
  line-height: 16px;
  font-size: 14px;
  color: #666;
}

.block.file .upload button,
.block.file .upload .choose-file-wrapper,
.block.file .new-upload .choose-file-wrapper {
  margin: 4px;
  flex: 0 0 auto;
}


/* date blocks */

.block.date .month-input select,
.block.date .month-input input {
  display: inline;
}
