{
  "destination": "uuid:destination-pid-goes-here",
  
  "title": "Test Form",
  "allowDestinationOverride": true,
  "addAnother": true,
  "addAnotherText": "image",
  "submitAsCurrentUser": true,
  "children": [
    {
      "key": "info",
      "type": "section",
      "label": "Article Information",
      "children": [
        {
          "key": "title",
          "type": "text",
          "label": "Title",
          "required": true
        },
        {
          "key": "keywords",
          "type": "tokens",
          "label": "Keywords",
          "defaultValue": ["stuff"]
        },
        {
          "key": "pubdate",
          "type": "date",
          "label": "Publication Date"
        },
        {
          "key": "embargo",
          "type": "date",
          "label": "Embargo",
          "options": [
            { "label": "None", "value": "" },
            { "label": "1 Year", "value": "P1Y" },
            { "label": "2 Years", "value": "P2Y" }
          ]
        },
        {
          "key": "version",
          "type": "select",
          "label": "Version",
          "options": [
            "Preprint",
            "Postprint",
            "Publisher"
          ],
          "allowBlank": true
        },
        {
          "key": "genre",
          "type": "select",
          "label": "Genre",
          "options": "genre",
          "defaultValue": "Fiction"
        }
      ]
    },
    {
      "key": "serial",
      "type": "text",
      "label": "Serial Number"
    },
    {
      "key": "languages",
      "label": "Available Languages",
      "type": "checkboxes",
      "options": "language",
      "defaultValue": ["eng", "fre"]
    },
    {
      "key": "publisher",
      "label": "Publisher",
      "type": "text",
      "options": [
        "Crown",
        "Doubleday",
        "Gale",
        "InfoTrac",
        "Knopf",
        "Pandora",
        "Picador",
        "ProQuest",
        "Random House Science",
        "Science Direct",
        "Springer"
      ]
    },
    {
      "key": "location",
      "label": "Publication Location",
      "type": "radio",
      "options": [
        { "label": "Germany", "value": "de" },
        { "label": "Great Britain", "value": "gb" },
        { "label": "United States", "value": "us" }
      ]
    },
    {
      "key": "issuance",
      "label": "Issuance",
      "type": "text",
      "options": "issuance"
    },
    {
      "key": "authors",
      "type": "section",
      "label": "Authors",
      "repeat": true,
      "displayInline": true,
      "children": [
        {
          "key": "first",
          "type": "text",
          "label": "First Name",
          "required": true
        },
        {
          "key": "last",
          "type": "text",
          "label": "Last Name",
          "required": true
        }
      ]
    },
    {
      "key": "article",
      "type": "file",
      "label": "Article",
      "required": true
    },
    {
      "key": "supplemental",
      "label": "Supplemental Files",
      "type": "section",
      "repeat": true,
      "children": [
        {
          "key": "file",
          "type": "file",
          "label": "File"
        },
        {
          "key": "description",
          "type": "text",
          "label": "Description",
          "size": "paragraph"
        }
      ]
    },
    {
      "key": "email",
      "type": "email",
      "label": "Email Address"
    },
    {
      "type": "agreement",
      "key": "agreement",
      "name": "Deposit Agreement",
      "uri": "http://example.com/agreement",
      "prompt": "I agree to the terms in the agreement."
    }
  ],
  
  "bundle": {
    "type": "aggregate",
    "aggregate": {
      "metadata": ["article", "hidden"]
    },
    "main": {
      "upload": "article"
    },
    "supplemental": [
      {
        "context": "supplemental",
        "upload": "file",
        "metadata": ["supplemental"]
      }
    ]
  },

  "metadata": [
    {
      "id": "article",
      "type": "descriptive",
      "model": "xml",
      "template": {
        "type": "structure",
        "name": "mods",
        "properties": {
          "xmlns": { "type": "string", "value": "http://www.loc.gov/mods/v3" }
        },
        "children": [
          {
            "type": "arrow",
            "items": { "type": "lookup", "path": ["info", "title"] },
            "target": [
              { "type": "structure", "name": "titleInfo" },
              { "type": "structure", "name": "title" }
            ]
          },
          
          {
            "type": "arrow",
            "items": { "type": "lookup", "path": ["info", "keywords"] },
            "target": [
              {
                "type": "structure",
                "name": "note",
                "properties": {
                  "displayLabel": { "type": "string", "value": "Keywords" }
                }
              }
            ]
          },
          
          {
            "type": "each",
            "items": { "type": "lookup", "path": ["authors"] },
            "locals": {
              "item": "author"
            },
            "body": [
              {
                "type": "structure",
                "name": "name",
                "children": [
                  {
                    "type": "arrow",
                    "items": { "type": "lookup", "path": ["author", "first"] },
                    "target": [
                      {
                        "type": "structure",
                        "name": "namePart",
                        "properties": {
                          "type": { "type": "string", "value": "given" }
                        }
                      }
                    ]
                  },
                  {
                    "type": "arrow",
                    "items": { "type": "lookup", "path": ["author", "last"] },
                    "target": [
                      {
                        "type": "structure",
                        "name": "namePart",
                        "properties": {
                          "type": { "type": "string", "value": "family" }
                        }
                      }
                    ]
                  }
                ]
              }
            ]
          },
          
          {
            "type": "structure",
            "name": "originInfo",
            "compact": true,
            "children": [
              {
                "type": "structure",
                "name": "dateIssued",
                "children": [
                  { "type": "lookup", "path": ["info", "pubdate"] }
                ]
              },
              {
                "type": "structure",
                "name": "edition",
                "children": [
                  { "type": "lookup", "path": ["info", "version"] }
                ]
              }
            ]
          }
        ]
      }
    },

    {
      "id": "hidden",
      "type": "access-control",
      "model": "xml",
      "template": {
        "type": "structure",
        "name": "accessControl",
        "properties": {
          "xmlns": { "type": "string", "value": "http://cdr.unc.edu/definitions/acl" },
          "published": { "type": "string", "value": "false" },
          "embargo-until": { "type": "lookup", "path": ["info", "embargo"] }
        }
      }
    },

    {
      "id": "supplemental",
      "type": "descriptive",
      "model": "xml",
      "template": {
        "type": "structure",
        "name": "mods",
        "compact": true,
        "properties": {
          "xmlns": { "type": "string", "value": "http://www.loc.gov/mods/v3" }
        },
        "children": [
          {
            "type": "arrow",
            "items": { "type": "lookup", "path": ["description"] },
            "target": [
              { "type": "structure", "name": "abstract" }
            ]
          }
        ]
      }
    }
  ]
}
